# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [2]:
num_int = 6

print(num_int)
print(type(num_int))

6
<class 'int'>

##### Assinging float

In [6]:
num_float = 6.98745

print(num_float)
print(type(num_float))

6.98745
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [15]:
num1 = 2
num2 = 5

result = num1 + num2
print(result)
print(type(result))

#int + int = int
#int + float = float
#float + float = float

#shorthand
result += 2
print(result)

7
<class 'int'>
9

##### Subtraction

In [9]:
diff = num2 - num1
print(diff)
diff -= 2
print(diff)

3.0
1.0

##### Multiplication

In [16]:
prod = num1 * num2
print(prod)
prod *= 2
print(prod)

10
20

##### Division

In [17]:
quotient = num2 / num1
print(quotient)
print(type(quotient))

quotient /= 2
print(quotient)

2.5
<class 'float'>
1.25

##### Floor Division

In [20]:
result_floor = 15 // 2
print(result_floor)

result_floor //= 2
print(result_floor)

7
3

##### Modulo

In [22]:
result_mod = 33%6
print(result_mod)

result_mod %= 2

3

##### Exponential

In [24]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

In [25]:
print(0b101010)

42

### String Input-Output

##### String Assignment

In [26]:
name1 = "Nathan"
print(name1)
print(type(name1))

Nathan
<class 'str'>

In [ ]:
contraction1 = "You can't do that."
print(contraction1)
sentence = 'He said, "I like you"'
print(sentence)

##### Escape Characters

In [32]:
print('You can\'t do that')

You can't do that

In [33]:
print("Hello
      how are you?")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_23152/4225023477.py, line 1)

In [34]:
print("Hello\
 how are you?")

Hellohow are you?

In [35]:
# \n
print("Hello\nhow are you?")

Hello
how are you?

In [36]:
# \t
print("Hello\thow are you?\tI am good.")

Hello	how are you?	I am good.

In [37]:
# Raw String
print(r'Hello\thoware you?\tI am good.')

Hello\thoware you?\tI am good.

##### String Concatenation

In [39]:
f_name = 'John'
l_name = 'Smith'
full_name = f_name + " " + l_name
print(full_name)

John Smith

##### Type Conversion

In [53]:
numbint = int(numb)
print(numb, type(numb))
print(numbint, type(numbint))

10 <class 'str'>
10 <class 'int'>

##### .format() and f-strings

In [55]:
name = "Nathan"
home = "Ohio"

print("Hello my name is {} and I am from {}.".format(name, home))
print(f"Hello my name is {name} and I am from {home}.")

Hello my name is Nathan and I am from Ohio.
Hello my name is Nathan and I am from Ohio.

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement</p>

In [61]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

print(f"I drive a {color} {int(year)+1} {make} {model}.")

I drive a blue 2023 Ford Focus.

### Booleans

In [ ]:
bool_true = True

In [ ]:
bool_false = False

### If Statements

In [63]:
# if <expression>:
#     <statement>

if True:
    print("Hello this is True.")

Hello this is True.

In [64]:
print("Start of code.")
if False:
    print("Hello")
    print("How are you?")
    print("Good, you?")

print("End of code.")

Start of code.
Hello
How are you?
Good, you?
End of code.

In [ ]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

num1 = 10
num2 = 5
num3 = 2

if num1 > num2 and num2 > num3:
    print("Both are true")

if num1 > num2 or num2 < num3:
    print("At least one is true")

### Else Statements

In [ ]:
# An else statement runs when the if statement above it evaluates to False
required height = 60
rider_height = 48

if rider_height >= required_height:
    print("Enjoy the ride.")
else:
    print("Sorry you are not tall enough to ride the ride.")

### Elif Statements

In [70]:
# An elif only runs when the if (or elif) directly above it evaluates to False
required_age = 18
with_a_parent = 14

movie_goer = 10

if movie_goer >= required_age:
    print("Enjoy the film!")
elif movie_goer >= with_a_parent:
    print("You must be accompanied by an adult to see this movie.")
else:
    print("You are not old enough to see this film.")

You are not old enough to see this film.

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [74]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

def check_age(age, ticket):
    if age < 10:
        print(f"Your ticket is ${ticket * .5}")
    elif age < 65:
        print(f"Your ticket is ${ticket}")
    else:
        print(f"Your ticket is ${ticket * .75}")

check_age(8, ticket)
check_age(47, ticket)
check_age(72, ticket)

Your ticket is $5.0
Your ticket is $10
Your ticket is $7.5

### Lists

##### Declaring Lists

In [76]:
l_1 = []
print(l_1)
print(type(l_1))

names = ["Max", "Cindy", "Kathy", "Bob", "Nate"]
print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
<class 'list'>

##### Indexing a List

In [82]:
# [start: stop: step] 
print(names[3])

print(names[1:])
print(names[:3])
print(names[2:4])
print(names[::2])
print(names[::-1])

Bob
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 'Bob']
['Max', 'Kathy', 'Nate']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [83]:
names.append(1234)

##### .insert()

In [84]:
# list.insert(index,value)
names.insert(3, "Frank")
print(names)

['Max', 'Cindy', 'Kathy', 'Frank', 'Bob', 'Nate', 1234]

##### .pop()

In [86]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

removed_item = names.pop()
print(names)
print(removed_item)

index_one = names.pop(1)
print(names)
print(index_one)

['Max', 'Cindy', 'Kathy', 'Frank', 'Bob']
Nate
['Max', 'Kathy', 'Frank', 'Bob']
Cindy


##### .remove()

In [87]:
# value to be removed , not index
names = ["Max", "bob", "kathy", "bob"]
names.remove("bob")
print(names)

['Max', 'kathy', 'bob']

##### del()

In [ ]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del names[3]

##### Concatenating Two Lists

In [89]:
# will append two lists together, not add up the elements in each list

l2=[1,2,3]
l3=[4,5,6]
l4=l2+l3
print(l4)
l4 = sum(l2) + sum(l3)
print(l4)

[1, 2, 3, 4, 5, 6]
21

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other
names = ["max", "sam", "jack", ["Sally", "Sarah", "Susan"]]

### For Loops

In [90]:
# for <keyword> in <iterable>:
#     <statement>
my_list = [5, 10, 15, 20, 25, 30]

for x in my_list:
    print(x)

5
10
15
20
25
30

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [4]:
list_num = []

for num in range(1, 11):
    
    if num**3 <= 1000:
        list_num.append((num, num**3))
    else:
        break
print(list_num)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512), (9, 729), (10, 1000)]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [103]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
primes = []
for num in range(0, 101):
    if num > 1:
        for n in range(2, num):
            if num % n == 0: 
                break
        else:
            primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [104]:
print("Please enter your age: ")
age = input()
try:
    age = (int(age))
    if age < 18:
        print("Kids")
    elif age < 65:
        print("Adults")
    else:
        print("Senior")
except:
    print("Error")

Please enter your age:
99
Senior